<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ryoshi's Arcade - Space Invader</title>
    <link rel="stylesheet" href="/css/spaceInvader/style.css">
    <link rel="stylesheet" href="/css/norm.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
</head>
<body>
<h1 id="game-title">Space Invader by Ryoshi!</h1>
<div class="d-flex-row">
    <h1 id="level-container" class="hidden">Level: <span id="level">1</span></h1>
    <h1 id="high-score-container">High Score: <span id="high-score">1</span></h1>
</div>
<button id="play">Play</button>
<canvas id="game-canvas" height="600" width="600" class="hidden"></canvas>
<h1 id="lose" class="hidden">Game over!</h1>
<script src="/javascript/spaceInvader/powerUp.js"></script>
<script src="/javascript/spaceInvader/bullet.js"></script>
<script src="/javascript/spaceInvader/invader.js"></script>
<script src="/javascript/spaceInvader/script.js"></script>
</body>
</html>