.content{
  width: 860px;
  background-color: var(--background-color-light);
  margin: 0 auto 0 auto;
  padding: 6px 32px;
  box-shadow: 0 0 6px black;
}
h1, p, button, div, input, label, h2, section, option{
  font-family: Arial,serif;
  color: var(--font-color);
}
body{
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
}
.background{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
}
.create-game-input{
  padding: 8px 20px;
  border-radius: 40px;
  border: none;
  background-color: var(--background-color-light);
  margin-left: 10px;
  margin-top: 6px;
  font-size: 26px;
  box-shadow: 0 0 6px black;
}
.create-game-input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
.create-game-field{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 60px;
}
.create-game-label{
  font-size: 26px;
  font-weight: bold;
  margin-right: 10px;
}
.create-game-button{
  background-color: var(--green);
  padding: 8px 20px;
  border:none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.15s;
  box-shadow: 0 0 6px black;
}
.create-game-button:hover{
  opacity: 0.7;
  box-shadow: 0 0 15px black;
}
.create-game-button:active{
  opacity: 0.5;
  box-shadow: 0 0 15px black;
}
#category{
  font-size: 26px;
  padding: 4px 8px;
  border: none;
  border-radius: 20px;
  background-color: var(--background-color-light);
  box-shadow: 0 0 6px black;
  color: var(--font-color);
}