.content{
  width: 800px;
  background-color: #d9d9d9;
  margin: 0 auto 0 auto;
  padding: 6px 32px;
}
h1, p, button, div, input, label, h2{
  font-family: Arial,serif;
}
body{
  background-color: rgb(68, 80, 97);
  padding: 0;
  margin: 0;
}
.home-header{
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}
.home-game-description{
  margin-top: 60px;
  text-align: center;
  line-height: 24px;
  font-size: 18px;
}
.home-button{
  background-color: #7bb622;
  padding: 8px 20px;
  border:none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}
.home-input{
  padding: 8px 20px;
  border-radius: 40px;
  border: #7bb622 solid 1px;
  margin-left: 10px;
  margin-top: 6px;
}
.home-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.home-interaction{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.home-username-field{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
}
.invisible{
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  font-size: 0 !important;
  display: none !important;
}
#invalid-code,#invalid-username,#invalid-image{
  color: red;
}