
body{
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar{
  width: 14px;
}
body::-webkit-scrollbar-track{
  background-color: var(--background-color-light);
}
body::-webkit-scrollbar-thumb{
  background-color: var(--field-color);
  border-radius: 100px;
}
h1, p, button, div, input, label, h2{
  font-family: Arial,serif;
  color: var(--font-color);
}
h1,h2,h3,h4,h5,h6{
  font-weight: 800;
}
.home-button{
  background-color: #7bb622;
  padding: 8px 20px;
  border:none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 0 6px black;
}
.home-input{
  padding: 8px 20px;
  border-radius: 40px;
  border: none;
  background-color: var(--field-color);
  box-shadow: 0 0 6px black;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
}
.home-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.home-interaction{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.background{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
}
.invisible{
  display: none !important;
}
#invalid-code,#invalid-username,#invalid-image{
  color: red;
}
