<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create-Game</title>
</head>
<body>
<div>
  <label for="guess-timer">Guess Timer:</label>
  <input type="text" id="guess-timer" placeholder="Guess Timer">
</div>
<div>
  <label for="result-timer">Result Timer:</label>
  <input type="text" id="result-timer" placeholder="Result Timer">
</div>
<div>
  <label for="category">Category:</label>
  <input type="text" id="category" placeholder="Category">
</div>
<button onclick="setSettings();">Start Game</button>
<script src="/settings.js"></script>
</body>
</html>