<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/root.css">
</head>
<body>
<div class="container text-center" style="background-color: var(--background-color-light)">
  <h1>Pop Sauce</h1>
  <h2>Diese App wurde von Ryoshi entwickelt.</h2>
  <div class="w-75 m-auto">
    <p>
      Da ich diese Application vor dem Publishen auf ein anderes Data bank Management System wechseln musste, musste ich
      große Teile des Codes neu schreiben und reworken. Dementsprechend gibt es noch sehr viele Bugs, an denen ich allerdings
      bereits arbeite. Zudem kamen noch schwierigkeiten mit dem Publishen der Seite auf Railway weswegen die vorher verwendete
      Methode zum Speichern der Daten nicht mehr funktionierte. Zurzeit funktioniert also nur die Anime-Kategorie. Weitere Probleme
      wie lange Ladezeiten beim Starten von Games, plötzliches aufhören, wenn keine Bilder mehr da sind und das nicht funktionierende
      Uploads sind bereits bekannt.
    </p>
    <h4>
      Zurzeit ist diese App nicht einmal im Early Access! Zum spielen ist die Application noch nicht geeignet und ich rate dringend
      davon ab!
    </h4>
  </div>

  <div class="d-flex-center flex-column mt-5">
    <label for="input-username">Select Username:</label>
    <div>
      <input class="home-input" id="input-username" type="text">
      <label class="invisible" id="invalid-username">Username already exists</label>
    </div>
  </div>
  <div class="home-interaction">
    <div class="home-field">
      <h2>Create your own Game!</h2>
      <button onclick="createGame()" class="home-button">
        Create Game
      </button>
    </div>
    <div class="home-field">
      <h2>Join your Friends!</h2>
      <label for="input-code">Enter Room Code:</label>
      <input class="home-input" type="text" id="input-code">
      <label class="invisible" id="invalid-code">Invalid Code</label>
      <button onclick="joinGame()" class="home-button">
        Join Game
      </button>
    </div>
    <form class="home-field" action="/upload-own-picture" method="post">
      <h2>Upload your own Picture</h2>
      <label for="picture-url">Enter Picture</label>
      <input id="picture-url" type="url" name="url" class="home-input">
      <label for="picture-category">Enter Picture Category</label>
      <input id="picture-category" name="category" class="home-input">
      <label for="picture-rightGuesses">Enter All Right Guesses in this Format "first,second,third,..."</label>
      <input id="picture-rightGuesses" name="rightGuesses" class="home-input">
      <label for="difficulty">Difficulty</label>
      <input id="difficulty" name="difficulty" class="home-input">
      <label class="invisible" id="invalid-image">Something went wrong</label>
      <input type="submit" class="home-button">
    </form>
  </div>
</div>
<script src="/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>