<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
    <title>Tron</title>
    <link rel="stylesheet" href="/css/tron/style.css">
    <link rel="stylesheet" href="/css/norm.css">
</head>
<body>
<h1 id="game-title">Tron by Ryoshi!</h1>
<button id="play">Play</button>
<canvas class="hidden" id="game-canvas" width="600" height="600"></canvas>
<h1 id="lose" class="hidden">Vorbei</h1>
<h2 id="explain-setting">
    Player One uses: <b>w,a,s,d </b><br>
    Player Two uses: <b>Arrow keys</b>
</h2>
<script src="/javascript/tron/PositionMap.js"></script>
<script src="/javascript/tron/player.js"></script>
<script src="/javascript/tron/script.js"></script>
</body>
</html>
