<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ryoshi's Arcade - PopSauce</title>
  <link rel="stylesheet" href="/css/popsauce/norm.css">
  <link rel="stylesheet" href="/css/popsauce/root.css">
</head>
<body>
<p class="invisible" id="set-result-timer" th:text="${game.get().getSetting().resultTimer}"></p>
<p class="invisible" id="set-guess-timer" th:text="${game.get().getSetting().guessTimer}"></p>
<p class="invisible" id="set-host-username" th:text="${game.get().host.getUsername()}"></p>
  <div class="left flex" id="all-player">

  </div>
  <div class="middle">
    <div class="field" id="field">
      <button id="start-button" class="button" onclick="setStart()">
        Start
      </button>
      <h1 id="winner" class="big invisible"></h1>
      <button id="play-again-button" class="invisible button" onclick="playAgain()">
        Play Again
      </button>
    </div>
    <p id="waiting" class="invisible">Waiting for Host to start the game</p>
    <p id="timer" class="invisible"></p>
    <div class="guess-container invisible" id="guess-container">
      <div class="question">
        <p id="question">
          Where is this picture from?
        </p>
      </div>
      <div id="picture-here" class="invisible"></div>
    </div>
    <div class="guess-field invisible" id="guess-field">
      <div class="input-field" id="input-field">
        <input class="invisible" id="input" type="text" placeholder="Your Guess">
      </div>
    </div>
  </div>
  <div class="right">
    <div class="chat-container">
      <div id="chat-list" class="chat-list"></div>
      <input type="text" id="chat-input" placeholder="Chat with your friends">
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascript/popsauce/inGame.js"></script>
<script src="/javascript/popsauce/inGame-Settings.js"></script>
</body>
</html>
